*{
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

/*body*/

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #FEF6E4;
	width: auto;
}

/*heading*/

h1 {
	font-family: 'Playfair Display', serif;
	color: #001858;
	font-size: 300%;
	text-align: center;
}

/*navigation bar*/

.topnav {
	background-color: #FEF6E4;
	overflow: auto;
	padding-top: 2rem;
	vertical-align: middle;
}


a:link, a:visited {
    padding-left: 3rem;
    font-size: 1.5rem;
}

a:hover; a:active {
	text-decoration: underline;
	text-decoration-color: #001858 !important;
}


.navigations{
	margin-left: 2rem;
	margin-right: 5rem;
	float: right;	
	display: flex;
	justify-content: flex-end;
	list-style-type:none;
}

span {
  background: linear-gradient(to top, #8bd3dd 25%, transparent 55%);
}

/*hero section*/

.name {
	background: none;
}

.janelle-logo {
	margin-left: 5rem;
	height: 3rem;
	width: 3rem;
	display: inline-block;
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FEF6E4;
	padding-bottom: 10rem;
}

#intro-hero {
	letter-spacing: 3px;
}

.hero-container h1 {
	text-align: center;
	margin: 0;
}

/*What I do*/

.what-container {
	background-color: #f3d2c1;
	padding:3rem;
	text-align: center;
}

.img-vector {
  width: 100%;
  height: auto;
}

.introduction {
	float: right;
	width: 50%;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 2rem;
	font-color: #172c66;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-color: #001858 !important;
  font-size: 20px;
  font-weight: bold !important;
  background-color: #f582ae !important;
  padding: 10px 20px 20px 20px;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*WORK container*/

.works-container {
	background-color: #fef6e4 !important;
	margin: auto;
	padding-top: 3rem;
	width: 100%;
}

.row {
	margin:0;
	padding: 0;
}


p {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-color: #172c66 !important;
}

.card-body {
	background-color: #fef6e4;
}

.chat-app {
	width: 100%;
	padding: 3rem 0 3rem 15rem;
	overflow: auto;	
	margin: auto;
}

.column-container-chat {
	width: 50%;
	float:left;
	background-color: #fef6e4;
	margin: none;
	line-height: 3rem;
}

.left-chat-app {
	padding: 3rem;
	text-align: justify;
}

.portfolio-paragraph {
	padding: 2rem 0;
	line-height: 2rem;
}

.row{
	background-color: #fef6e4 !important;
	margin: auto;
}	

.row:after {
	content: "";
	display: table;
	clear: both;
}

.mywork-01 {
	width: 70%;
	height: 30%;
}

.heading-work {
	padding-bottom: .5rem;
}

 .tags-wrapper {
	margin: 0;
	justify-content: space-between;
}

.tag {
	display: inline-block;
	/*padding: 0.1rem; */
	color: #fef6e4;
	background-color: #001858;
}

.see-link, .drop-me {
	padding-left: 0 !important;
	margin:0 !important;
	font-color: #001858 !important;
}

/*CLOSING CONTAINER*/

.convince-container {
	position: relative;
	text-align: center;
	padding-top: none;
	padding-right: 5rem;
}

.conimage {
	background-repeat: no-repeat;
	background-size: 100% 100%;
                width:100%; 
                height:100%; 
                object-fit:cover; 
 }

.convince-container-message {
	position: absolute;
    top: 25%;
  	right: 0;
  	width: 50%;
  	height:100px;
  	padding-right: 9rem;
  	line-height: 4rem;
}


@media screen and (max-width: 600px) {
  .convince-container-message {
    font-size: 20%;
    line-height: 1rem;
     }
}

.game {
	padding-bottom: 5rem;
}


/*FOOTER*/
.copyright {
	font-size: 1rem;
	padding-top: 1rem;
	margin-left: 3rem;
}

.footer-container {
	margin: auto;
	padding-top: 5rem;
	width: 100%;
	text-align: center;
}

.footer-link img {
	width: 3rem;
	height: 3rem;
	margin: auto;
}

form {
	margin: 0 auto;
	width: 500px;
	padding: 1em;
	border: 1px solid #fef6e4 !important;
	border-radius: 1em;
}

#form-ul {
	list-style: none;
	padding: 0;
	margin-top: 5rem;
}

form li + li {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 90px;
	text-align: justify-all;
}

input, textarea {
	font: 1em sans-serif;
	width: 500px;
	box-sizing: border-box;
	border: 1px solid #f582ae;
}

input:focus, 
textarea:focus {
	border-color: #f3d2c1;	
}

textarea {
	vertical-align: top;
	height: 10em;
}

#button-contact-li {
	list-style: none;
	margin-top: 1rem;
	margin-left: 6.5em;
}

.button-contact {
	text-align: center;
	list-style: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #001858 !important;
  font-size: 20px;
  font-weight: bold !important;
  background-color: #f582ae !important;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
}

.button-contact:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

 .form-header-group  {
  margin: 0;
  padding: none;
  color: #555555;
  width: 500px;
}

.header-text {
	text-align: center;
	padding: 0.5em;
	color: #001858;
	background-color:  #f582ae;
}

.pic {
	width: 25%;
	height: 25%;
	}

.contactimg-right {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	right: 3%;
	bottom: 3%;
	margin: 0;
}

.contactimg {
	position: fixed;
	bottom: 3%;
}

.chat-appfull {
	text-align: center;
	width: 30%;	
	margin: auto;
}

.chatapp-mock {
	padding-top: 3rem;
	margin-left: 12rem;
}